:root {
    --form-hover: #F8F3E6;
    --color-1: #fff;
    --color-2: #D1917A;
    --color-3: #AA583A;
    --color-4: #5F3121;
    --color-5: #241611;
    --bs-body-color-rgb: #fff;
    --week-header-z: 50;
    --btn-dark-opacity: .7;
    --disabled-btn: .7;
    --transition-800: 800ms;
    --transition-500: 500ms;
    --transition-400: 400ms;
    --anim-duration: 4s;
    --anim-iteration: infinite;
    --main-margin-top: 3.5rem;
    --main-margin-top-mobile: 10rem;
    --offer-card-translate-y: translateY(-.3rem);
    --btn-anim-translate-x-base: translateX(0);
    --btn-anim-translate-xl-mod: translateX(-.4rem);
    --btn-anim-translate-xr-mod: translateX(.4rem);
    --custom-carousel-height: 500px;
    --custom-carousel-margin-top: 2.5rem;
    --contact-list-gap: .5rem;
    --translate-x-half: .5rem;
    --cart-input-qtty: 4rem;
    --pagination-radius: 8px;
    --fav-name-link-offset-start: .3rem;
    --fav-name-link-offset-end: .1rem;
    --product-name-link-offset: .3rem;
    --product-name-link: underline 1px solid var(--color-5);
    --page-link-border: 1px solid #D1917A50;
    --comment-mail-hover: 1px solid var(--color-5);
    --nav-link-hover: underline 1px solid var(--color-2);
    --offer-card-hover: 0 0 1rem var(--color-5);
    --card-border-anim: 0px 0px 30px 1px var(--color-5);
    --products-card-hover: 0 0 1rem var(--color-5);
    --focus-shadow-1: 1px 1px 1px var(--color-5) inset;
    --focus-shadow-2: 0 0 8px var(--color-4);
    --page-link-shadow: .3rem .3rem 1rem var(--color-5);
    --card-scale-hover: scale(.98);
    --products-card-skewY: skewY(1deg);
    --products-card-skewY-hover: skewY(0);
    --btn-dark-active: scale(0.9);
    --border-card: 1px transparent;
    --border-card-thick: 2px solid var(--color-5);
    /* --border-card-thin: 1px solid var(--color-5); */
    --border-card-none: none;
}

* {
    box-sizing: border-box;
}

html, body {
    background: url("../img/main-bg.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-check-input:checked {
    background-color: var(--color-5)!important;
    border-color: var(--color-5)!important;
}

/* ebben az esetben lenyílik a lista, amire rákattintok annak jó lesz a színe, a focusnál is, de a hover részénél már nem */
.form-select option:checked, .form-select option:hover {
    background-color: var(--color-5)!important;
    color: var(--color-1);
}

.form-control:hover, .form-select:hover, .form-check-input:hover, .emails:hover, .order-list:hover {
    background-color: var(--form-hover)!important;
}

.nav-color {
    background-image: linear-gradient(to right,var(--color-5), var(--color-5), var(--color-4))!important;
}

.nav-link, .welcome-text, .navbar-brand {
    color: var(--color-1)!important;
    transition: all var(--transition-800);
}

.nav-link:hover {
    color: var(--color-2)!important;
    text-decoration: var(--nav-link-hover)!important;
}

.navbar-brand:hover {
    color: var(--color-1)!important;
}

/* main-custom-top home.php kivételével mindegyik oldalon ott van */
.main-custom-top {
    margin-top: var(--main-margin-top);
}

.log-name {
    color: var(--color-3)!important;
}

.week-color {
    background-color: var(--color-1);
    z-index: var(--week-header-z)!important;
}

.week-offer-animation {
    animation-name: week-offer-animation!important;
    animation-duration: var(--anim-duration)!important;
    animation-iteration-count: var(--anim-iteration)!important;
}

@keyframes week-offer-animation {
    from { opacity: 0; };
    to { opacity: 1; };
}

.order-list {
    background-color: var(--color-1)!important;
    transition: all var(--transition-800) ease-out;
}

.order-list-row:nth-child(odd) > .order-list {
    background-color: var(--color-2)!important;
}

.order-list:hover {
    box-shadow: var(--offer-card-hover)!important;
    transform: var(--offer-card-translate-y);
}

.card-border-anim {
    background-color: var(--color-5);
    transition: all var(--transition-500);
}

.card-inner {
    background-color: var(--color-1);
    border-radius: var(--bs-card-inner-border-radius);
    transition: all var(--transition-400);
}

.card-inner:hover {
    transform: var(--card-scale-hover);
}

.card-border-anim:hover {
    box-shadow: var(--card-border-anim);
}

.border-card {
    border: var(--border-card);
}

.border-custom {
    border-bottom: var(--border-card-none)!important;
}

.border-custom-thick {
    border: var(--border-card-thick)!important;
}

/* products-card jelenleg csak opcionális */
.products-card {
    background-color: var(--color-1)!important;
    transform: var(--products-card-skewY);
    transition: all var(--transition-800) ease-out;
}

.products-card:hover {
    box-shadow: var(--products-card-hover)!important;
    transform: var(--products-card-skewY-hover);
}

/* új card anim teszt kezdete *************************************************/
.products-card-border-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: .1rem;
    background-color: var(--color-1);
    border-radius: .5rem;
    transition: all var(--transition-800) ease-out;
}

.products-card-border-container:hover {
    box-shadow: var(--products-card-hover)!important;
}

.products-card-border {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

/* hover */
.products-card-border-container:hover::before {
    position: absolute;
    content: '';
    width: 60%;
    height: 150%;
    background-color: var(--color-4);
    animation: border 8s linear infinite;
    z-index: 0;
}

@keyframes border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.products-card-border-container::after {
    position: absolute;
    content: '';
    inset: .2rem;
    background-color: var(--color-1);
    z-index: 1;
}
/* új card anim teszt vége ****************************************************/

.btn-dark:hover .bi, .btn-trash:hover .bi, .btn-favs:hover .bi {
    animation: animate-right var(--transition-800) var(--anim-iteration);
}

/* felülírja az alap mozgást a vissza nyíl miatt */
.btn-dark:hover .bi-arrow-left-circle {
    animation: animate-left var(--transition-800) var(--anim-iteration);
}

@keyframes animate-left {    
    0% { transform: var(--btn-anim-translate-x-base); }
    50% { transform: var(--btn-anim-translate-xl-mod); }
    100% { transform: var(--btn-anim-translate-x-base); }
}

@keyframes animate-right {
    0% { transform: var(--btn-anim-translate-x-base); }
    50% { transform: var(--btn-anim-translate-xr-mod); }
    100% { transform: var(--btn-anim-translate-x-base); }
}

.custom-top-carousel {
    margin-top: var(--custom-carousel-margin-top);
}

.custom-carousel-inner {
    height: var(--custom-carousel-height);
}

.custom-carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-3)!important;
}

.custom-carousel-height {
    height: 100%;
}

.pagination {
    border-radius: var(--pagination-radius);
    box-shadow: var(--page-link-shadow)!important;
}

.page-active {
    background-color: var(--color-5)!important;
    color: var(--color-1)!important;
    opacity: var(--btn-dark-opacity);
}

.page-link {
    border: var(--page-link-border);
    transition: all var(--transition-800);
}

.page-link:hover {
    opacity: var(--btn-dark-opacity);
}

.page-link:not(.page-active) {
    background-color: var(--color-1)!important;
    color: var(--color-5);
}

.page-item.disabled > .page-link {
    opacity: var(--disabled-btn);
}

.contact-main {
    display: flex;
    justify-content: center;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: var(--contact-list-gap);
    width: 100%;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}

.modal-title {
    color: var(--color-1)!important;
}

.name-color, .text-color, body, h1, h2, h3, h4, h5, h6 {
    color: var(--color-5)!important;
}

.modal-custom {
    background-color: var(--color-5)!important;
}

.modal-text-custom, .date {
    color: var(--color-1)!important;
}

input:focus, textarea:focus, .form-select:focus, .emails:focus, .page-link:focus {
    border-color: var(--color-5)!important;
    box-shadow: var(--focus-shadow-1), var(--focus-shadow-2)!important;
    outline: 0 none!important;
}

.comment_mail {
    color: var(--color-4)!important;
    transition: all var(--transition-800)!important;
}

.comment_mail:hover {
    color: var(--color-5)!important;
    text-decoration: var(--comment-mail-hover)!important;
}

.message_date {
    color: var(--color-4)!important;
}

.message_text {
    color: var(--color-3)!important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--color-3)!important;
    color: var(--color-1)!important;
}

.collapse-email-name {
    width: 10rem;
}

.collapse-email-title {
    width: 15rem;
}

.navbar-toggler {
    background-color: var(--color-4)!important;
    border-color: var(--color-1)!important;
    color: var(--color-5)!important;
}

.btn-dark {
    background-color: var(--color-5);
    color: var(--color-1);
}

.btn-dark, .btn-success, .btn-danger {
    transition: all var(--transition-800);
}

.btn-dark:hover {
    background-color: var(--color-5);
    opacity: var(--btn-dark-opacity);
}

.btn-dark:active {
    background-color: var(--color-5)!important;
    transform: var(--btn-dark-active);
}

.btn-success:hover, .btn-danger:hover {
    opacity: var(--btn-dark-opacity);
}

.btn-success:active, .btn-danger:active {
    transform: var(--btn-dark-active);
}

.fav-card > div {
    transition: all var(--transition-500);
}

.fav-card:hover > div {
    transform: translateX(var(--translate-x-half));
}

/* fav_list.php a termék képe, kérdés hogy szükség van-e erre az osztályra */
/*
    https://picsum.photos/200/300

    https://fastly.picsum.photos/id/653/200/300.jpg?hmac=-wtNmzX9vRed_gkrBqMwx0wVWWD6uczwVxllG2txJXs
*/
.fav-img-link {
    overflow: hidden;
}

.fav-img-link > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.fav-name-link {
    color: var(--color-5)!important;
    text-underline-offset: var(--fav-name-link-offset-start);
    transition: all var(--transition-500);
}

.fav-name-link:hover {
    color: var(--color-3)!important;
    text-underline-offset: var(--fav-name-link-offset-end);
}

.product-name-link {
    color: var(--color-3)!important;
    text-decoration: none;
    transition: all var(--transition-500);
}

.product-table-row {
    transition: all var(--transition-500);
}

.product-table-row:hover .product-name-link {
    transform: translateX(var(--translate-x-half));
    color: var(--color-5)!important;
    text-decoration: var(--product-name-link);
    text-underline-offset: var(--product-name-link-offset);
}

.product-table-row:hover {
    background-color: var(--color-2)!important;
}

/* új bootstrap verzió után szükséges, a táblázatok fehér háttérrel rendelkeznek enélkül */
table > thead > tr > th, table > tbody > tr > td {
    background-color: transparent!important;
}

/* ha külön td-be lesznek akkor nem kell */
@media screen and (min-width: 768px) {
    .input-qtty {
        width: var(--cart-input-qtty);
    }    
}

@media screen and (max-width: 330px) {
    /* main-custom-top home.php kivételével mindegyik oldalon ott van */
    .main-custom-top {
        margin-top: var(--main-margin-top-mobile);
    }
}